@import "../../../../../variables";
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: $background-color; // from SCSS variables
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  color: $body-font-color;
  .logo {
    padding: 30px;
  }
  ul {
    display: flex;
    flex-direction: column; // vertical list
    gap: 1rem; // space between li elements
    list-style: none; // optional
    padding: 0; // optional
    padding-left: 2.5rem;
    img {
      max-width: 1rem;
      max-height: 1rem;
      color: $primary-color;
    }
    li {
      display: flex;
      gap: 1.25rem;
      cursor: pointer;
      font-size: $heading-m-font-size;
      font-weight: $heading-font-weight;
      align-items: center;
    }
    li svg {
      color: $primary-color;
      width: 16px;
      height: 16px;
      margin-right: 0.5rem;
    }

    li:hover svg {
      color: $secondary-color;
    }
  }
}
.title-name {
  padding: 0 3rem;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2.4px;
}
.create-task-btn {
  color: $primary-color;
}
.hide-show-bar {
  display: flex;
  gap: 20px;
  padding: 15px;
  cursor: pointer;
}