// Colors
$primary-color: #635fc7;
$secondary-color: #a8a4ff;
$background-color: #f5f5f5;
$text-color: #828fa3;

// Typography
$font-family-base: "Plus Jakarta Sans", sans-serif;
$heading-font-weight: 700;
$body-font-weight: 600;
$heading-font-size: 24px;
$body-font-size-l: 18px;
$body-font-size-m: 15px;
$body-font-color: $text-color;

// Buttons
$button-border-radius: 24px;
$button-primary-color: $primary-color;
$button-secondary-color: $secondary-color;
$button-font-size-l: $body-font-size-l;
$button-font-size-m: $body-font-size-m;

// Global styles
body {
  font-family: $font-family-base;
  background-color: $background-color;
  color: $text-color;
}
