// Colors
$primary-color: #635fc7;
$secondary-color: #a8a4ff;
$background-color: #f5f5f5;
$background-grey-color: #e4ebfa;
$text-color: #828fa3;
$text-black-color: #000112;

// Typography
$font-family-base: "Plus Jakarta Sans", sans-serif;
$heading-font-weight: 700;
$body-font-weight: 600;

$heading-s-font-size: 12px;
$heading-m-font-size: 15px;
$heading-l-font-size: 18px;
$heading-xl-font-size: 24px;

$heading-s-letter-spacing: 2.4px;
$heading-m-letter-spacing: 19px;
$heading-l-letter-spacing: 23px;
$heading-xl-letter-spacing: 30px;

h1 {
  font-size: $heading-xl-font-size;
  color: $text-black-color;
  font-weight: $heading-font-weight;
  line-height: $heading-xl-letter-spacing;
}

$body-font-size-l: 18px;
$body-font-size-m: 15px;
$body-font-color: $text-color;

// Buttons
$button-border-radius: 24px;
$button-primary-color: $primary-color;
$button-secondary-color: $secondary-color;
$button-font-size-l: $body-font-size-l;
$button-font-weight: $body-font-weight;
$button-font-size-m: $body-font-size-m;

// Global styles
body {
  font-family: $font-family-base;
  background-color: $background-color;
  color: $text-color;
}
